@import "variables";

.fanclub-landing-container {
  & {
    position: relative;
    padding-bottom: 30px;
  }
  section[class*="section"] {
    .section-inner-wrap {
      & {
        margin-top: 25px;
        padding-top: 25px;
      }
      &.bt {
        border-top: 1px solid #444;
      }
    }
    &:nth-of-type(1) {
      .section-inner-wrap {
        border-top: 0;
        margin-top: 0;
        border-top: 0 none;
      }
    }
  }
}
