@import 'variables';

.fanclub-main-container {
  & {
    position: relative;
  }
  .fc-main-img {
    & {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1;
      height: 200px;
      overflow: hidden;
    }
    @media all and (min-width: 340px) {
      height: 230px;
    }
    img {
      width: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 90%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212227 100%);
    }
  }
  .fc-main-content {
    position: relative;
    z-index: 2;
  }

  /* fc-header */
  .fc-header {
    & {
      position: relative;
      margin: 30px 0 0 0;
      height: 115px;
    }
    @media all and (min-width: 340px) {
      margin-top: 60px;
    }

    .fc-o-tit {
      margin-left: 15px;
      font-size: 24px;
      color: #fff;
    }

    .fc-o-infos {
      & {
        margin: 10px 0 0 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $txt-base-darker-level1-color;
        font-size: 11px;
        flex-wrap: wrap;
      }
      & > p {
        & {
          width: 50%;
        }
        @media all and (min-width: 350px) {
          width: auto;
          margin-right: 10px;
        }
        &:nth-of-type(even) {
          margin-left: 0;
        }
        @media all and (max-width: 349px) {
          &:nth-of-type(3),
          &:nth-of-type(4) {
            margin-top: 5px;
          }
        }

        .dd {
          margin-left: 5px;
          color: $txt-base-darker-level2-color;
        }
      }
    }
    .fc-o-nav {
      & {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: $txt-base-darker-level1-color;
      }
      li {
        padding: 0 9px;
      }
      @media all and (min-width: 375px) {
        & {
          font-size: 17px;
        }
        li {
          padding: 0 10px;
        }
      }
      span,
      a {
        position: relative;
      }
      span.active,
      a.active {
        color: $primary-color;
      }
      .chat-room.has-msg {
        a {
          &:after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $badge-color;
            position: absolute;
            right: -6px;
            top: 3px;
          }
        }
      }
    }
    &.fc-header-alter {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // width: 100%;
      // margin: 0 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .fc-header-admin {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #7d7d7d;
      }
      .fc-header-button {
        & {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          // &:not(:first-of-type) {
          //   margin-right: ;
          // }
        }
        .fc-header-icon {
          & {
            width: 25px;
            height: 25px;
          }
          &.ico-user {
            background: url('../images/ico-user.png') no-repeat 50% 50%;
            background-size: 25px auto;
          }
          &.ico-dues {
            background: url('../images/ico-dues.png') no-repeat 50% 50%;
            background-size: 25px auto;
          }
          &.ico-shop {
            background: url('../images/ico-shop.png') no-repeat 50% 50%;
            background-size: 25px auto;
          }
          &.ico-alliance {
            background: url('../images/ico-alliance.png') no-repeat 50% 50%;
            background-size: 25px auto;
          }
          &.ico-menu {
            background: url('../images/ico-menu.png') no-repeat 50% 50%;
            background-size: 25px auto;
          }
        }
        .fc-header-text {
          margin-top: 5px;
          font-size: 11px;
        }
      }
      & .fc-header-button-active {
        color: #00d4ff;
      }
    }

    /* 설정 상단 메뉴 UI */
  }

  /* fc-timeline-section */
  .fc-timeline-section {
    & {
      margin: 35px 15px 0;
    }
    .fc-timeline-list {
      & {
        position: relative;
      }
      &.has-content:before {
        content: '';
        position: absolute;
        left: 57px;
        top: 20px;
        bottom: 20px;
        z-index: 1;
        width: 1px;
        background: #444;
      }
      .t-item {
        & {
          position: relative;
          z-index: 2;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          color: $txt-base-darker-level1-color;
          margin: 25px 0 0;
        }
        .date {
          font-size: 11px;
          padding: 8px 0 0;
        }
        .icon {
          & {
            display: inline-flex;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% auto;
            margin-left: 15px;
          }
          &.notice {
            background-image: url('../images/timeline/ico-notice.png');
          }
          &.calendar {
            background-image: url('../images/timeline/ico-calendar.png');
          }
          &.movie {
            background-image: url('../images/timeline/ico-video.png');
          }
          &.group {
            background-image: url('../images/timeline/ico-group.png');
          }
          &.vote {
            background-image: url('../images/timeline/ico-vote.png');
          }
        }
        .info-text {
          & {
            flex: 1;
            margin-left: 15px;
            font-size: 12px;
          }
          .author {
            color: $primary-color;
          }
          .i-desc {
            margin: 5px 0 0;
            line-height: 1.4;
          }
          .t {
            color: $txt-base-color;
          }
        }
      }
    }
  }

  /* fanshop-section */
  .fanshop-section {
    & {
      margin: 35px 15px 0;
      padding: 25px 0 0;
      border-top: 1px solid #444;
    }
    .fs-item-list {
      & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0 0;
      }
      .item {
        & {
          width: 120px;
          margin-left: 8px;
        }
        &:nth-of-type(1) {
          margin-left: 0;
        }
        .item-img {
          width: 100%;
          height: 130px;
          background: #444;
          border-radius: 8px;
        }
        .item-t {
          text-align: center;
          margin: 10px 0 0;
          font-size: 13px;
          color: $txt-base-color;
        }
        .price {
          margin: 5px 0 0;
          text-align: center;
          font-size: 13px;
          color: $txt-base-color;
        }
      }
    }
  }

  /* fandrive-section */
  .fandrive-section {
    & {
      margin: 35px 15px 0;
      padding: 25px 0 0;
      border-top: 1px solid #444;
    }
    .fd-tag-list {
      & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0 0;
      }
      .tag {
        & {
          display: inline-flex;
          align-items: center;
          height: 30px;
          padding: 0 10px;
          color: $txt-base-color;
          background: #444;
          border-radius: 15px;
          font-size: 14px;
          margin-left: 10px;
        }
        &:nth-of-type(1) {
          margin-left: 0;
        }
        &.active {
          background: $primary-color;
          color: #182a97;
        }
      }
    }
    .fd-menus {
      & {
        position: relative;
        height: 430px;
        margin: 15px 0 0;
      }
      .item {
        & {
          position: absolute;
          border-radius: 8px;
          overflow: hidden;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
        .i-wrap {
          display: flex;
          height: 100%;
        }
        .tit {
          position: absolute;
          left: 15px;
          bottom: 20px;
          font-size: 16px;
          color: $txt-base-color;
        }
        .new {
          position: absolute;
          left: 15px;
          bottom: 45px;
          color: #f053eb;
          font-size: 15px;
        }
        &.position1 {
          left: 0;
          top: 0;
          width: 50%;
          height: 140px;
          .i-wrap {
            margin-right: 2px;
          }
        }
        &.position2 {
          left: 0;
          top: 145px;
          width: 50%;
          height: 140px;
          .i-wrap {
            margin-right: 2px;
          }
        }
        &.position3 {
          right: 0;
          top: 0;
          width: 50%;
          height: 285px;
          .i-wrap {
            margin-left: 3px;
          }
        }
        &.position4 {
          left: 0;
          top: 290px;
          width: 100%;
          height: 140px;
        }
      }
    }
  }

  /* ally-club-section */
  .ally-club-section {
    & {
      margin: 20px 15px 30px;
    }
    .ac-list {
      & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0 0;
      }
      .item {
        & {
          margin-left: 20px;
        }
        &:nth-of-type(1) {
          margin-left: 0;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }

  /* fanclub-alliance-section */
  .fanclub-alliance-section {
    & {
      margin: 15px 15px 0 15px;
      background-color: #1e1f23;
    }
    .fanclub-alliance-wrapper {
      &:not(:first-of-type) {
        margin-top: 40px;
      }
      .fanclub-alliance-text {
        font-size: 11px;
        color: #fff;
      }
      .fanclub-alliance-icon-wrapper {
        & {
          display: flex;
          margin-top: 10px;
        }

        .alliance-ico {
          & {
            display: block;
            width: 35px;
            height: 35px;
          }
          &.alliance-ico-1 {
            background: url('../images/@img-singer1.png');
            background-size: 35px auto;
          }
          &.alliance-ico-2 {
            background: url('../images/@img-singer2.png');
            background-size: 35px auto;
          }
          &.alliance-ico-3 {
            background: url('../images/@img-singer3.png');
            background-size: 35px auto;
          }
          &.alliance-ico-4 {
            background: url('../images/@img-singer4.png');
            background-size: 35px auto;
          }
          &:not(:first-of-type) {
            margin-left: 5px;
          }
        }
      }
    }
    .fanclub-alliance-request-wrapper {
      display: flex;
      flex-direction: column;
      .fanclub-alliance-request-text {
        .request-text-wrapper {
          font-size: 14px;
          margin-left: 12px;
          .request-text {
            color: #888;
          }
          .request-fanclub {
            color: #00ceff;
          }
        }
      }
      .fanclub-alliance-text-area {
        & {
          margin-top: 10px;
          padding: 12px;
          border: 0;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          background-color: #1e1f23;
          height: 160px;
          width: 100%;
          text-align: left;
          font-size: 13px;
          color: #fff;
          line-height: 1.4;
        }
        &::placeholder {
          color: #777;
        }
      }
      .fanclub-alliance-submit {
        font-size: 11px;
        margin-top: 12px;
        color: #fff;
        margin-left: auto;
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 4px 10px;
        width: 100px;
      }
    }
  }

  /* fc-ms-card */
  .fc-ms-card {
    & {
      position: fixed;
      left: 15px;
      right: 15px;
      height: 190px;
      top: 50%;
      z-index: 50;
      transform: translateY(-50%);
      border-radius: 8px;
      overflow: hidden;
      background: linear-gradient(to bottom, #a790e5 0%, #b350f0 100%);
    }
    .fc-tit {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 20px;
      color: #fff;
    }
    .mc {
      position: absolute;
      left: 60px;
      top: 10px;
      font-size: 12px;
      color: $txt-base-color;
    }
    .fc-name {
      position: absolute;
      right: 10px;
      top: 8px;
      color: $txt-base-darker-color;
      font-size: 12px;
      text-align: right;
      line-height: 1.4;
    }
    .user-name {
      position: absolute;
      left: 10px;
      bottom: 40px;
      color: $txt-base-color;
      font-size: 16px;
    }
    .exp {
      position: absolute;
      left: 10px;
      bottom: 20px;
      color: $txt-base-darker-color;
      font-size: 12px;
    }
    .card-no {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      font-size: 12px;
      color: $txt-base-color;
    }
  }

  /* chat-live-section */
  .chat-live-section {
    & {
      margin: 0 15px;
      width: 60%;
      color: white;
      display: flex;
      flex-direction: column;
    }
    .chat-artist-title {
      font-size: 15px;
      font-weight: 700;
      margin: 15px 0;
    }
    .chat-live-img {
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .ico-live {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        background: url('../images/ico-live.png') no-repeat 0 50%;
        background-size: 24px auto;
      }
    }
    .chat-information {
      display: flex;
      // justify-content: space-between;
      flex-direction: column;
      text-align: center;
      .chat-information-wrapper {
        & {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &:nth-of-type(1) {
          margin-top: 5px;
        }
        &:nth-of-type(2) {
          margin: 3px 0 15px 0;
        }
        .chat-created {
          font-size: 11px;
          color: #7d7d7d;
        }
        .chat-user {
          & {
            display: flex;
            align-items: center;
            margin-top: 3px;
          }
          .chat-avatar {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url('../images/ico-user1.png') no-repeat 0 50%;
            background-size: 24px auto;
            border-radius: 100%;
          }
          .chat-usename,
          .chat-viewers {
            font-size: 11px;
          }
          .chat-view {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url('../images/ico-view.png') no-repeat 0 50%;
            background-size: 24px auto;
            border-radius: 100%;
          }
        }
      }
    }
  }

  /* ico-plus */
  .ico-plus {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    background: url('../images/ico-plus.png') no-repeat 0 50%;
    background-size: 60px auto;
  }

  /* fc-new-fans */
  .fc-new-fans {
    & {
      margin: 20px 15px 0;
    }
  }

  /* fc-birthday-fans */
  .fc-birthday-fans {
    & {
      margin: 35px 15px 0;
      padding: 25px 0 0;
      border-top: 1px solid #444;
    }
  }

  /* fc-favorite-fans */
  .fc-favorite-fans {
    & {
      margin: 35px 15px 0;
      padding: 25px 0 0;
      border-bottom: 1px solid #444;
    }
    &.alter-type1 {
      margin-top: 0;
    }
    .search-user-wrapper {
      & {
        display: flex;
        color: #00d4ff;
        margin-bottom: 25px;
        font-size: 15px;
      }
      .search-user-name-wrapper {
        margin-right: 3px;
      }
      .search-user-count-space {
        margin-right: 3px;
      }
    }
  }

  .fc-wrapper {
    & {
      position: relative;
    }

    .friend-list-container {
      & {
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
      &:nth-of-type(1) {
        border-top: 0;
        padding-top: 10px;
      }
    }
  }
}

.fanclub-fans-container {
  padding-bottom: 60px;
}
