@import 'variables';

.fanclub-create-container {
  & {
    color: $txt-base-color;
  }
  .view-page-header {
  }
  .fc-mid-content {
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0 30px $primary-bg-color inset;
    -webkit-text-fill-color: #ddd;
    caret-color: #ddd;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 0s ease-in-out 0s;
  }

  /* register-btn-section */
  .register-btn-section {
    margin: 50px 0 0;
  }

  .fc-foot-wanring {
    & {
      margin: 20px 0 0;
      height: 90px;
      padding: 15px;
    }

    p {
      color: $txt-base-darker-level2-color;
      font-size: 12px;
      line-height: 1.4;
    }
  }

  /* name-input-section */
  .name-input-section {
    & {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 15px;
      border-bottom: 2px solid $primary-color;
    }
    .inp-wrap {
      flex: 1;
    }
    .inp {
      & {
        display: flex;
        align-items: center;
        width: 100%;
        border: 0 none;
        height: 40px;
        color: $txt-base-color;
        background: transparent;
        font-size: 16px;
      }
      .checked {
        padding-right: 35px;
        background: url('../images/ico-check1.png') no-repeat 100% 50%;
        background-size: 25px auto;
      }
    }
    .btn-search2 {
      margin-right: -6px;
    }
  }

  /* fanclub-top20-section */
  .fanclub-top20-section {
    & {
      margin: 20px 15px 0;
    }
    .ft-tit {
      color: $primary-color;
      font-size: 16px;
    }
    .list {
      li {
        margin: 20px 0 0;
        font-size: 15px;
      }
    }
  }

  /* search-result-section */
  .search-result-section {
    & {
      margin: 20px 15px 0;
    }
    .result-list {
      li {
        margin: 0 0 25px;
      }
      .a-word {
        display: inline-block;
        font-size: 16px;
        color: $txt-base-darker-level1-color;
      }
    }
    .s-word {
      color: $primary-color;
    }
    .no-result {
      font-size: 15px;
      color: $txt-base-darker-level1-color;
    }
    .btns-wrap {
      margin: 40px 0 0;
    }
  }

  /* fc-name-input */
  .fc-name-input {
    & {
      margin: 0 15px;
    }
    .selected-artist {
      & {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
      }
      &:after {
        content: '';
        display: inline-flex;
        width: 32px;
        height: 32px;
        background: url('../images/ico-check1.png') no-repeat 50% 50%;
        background-size: 25px auto;
        margin-left: 8px;
        margin-top: -2px;
      }
      .s-t {
        color: $txt-base-color;
      }
      .name {
        color: $primary-color;
        margin-left: 4px;
      }
    }
    .name-input-section {
      margin: 10px 0 0;
    }
    .btns-wrap {
      margin: 40px 0 0;
    }
    .image-input-area {
      & {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0;
        border: 2px solid #555;
        border-radius: $border-radius-small;
        min-height: 150px;
        max-height: 210px;
        overflow: hidden;
      }
      .c-t {
        & {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-size: 16px;
          color: $txt-base-darker-level2-color;
        }
        .text {
          display: inline-flex;
          padding-top: 35px;
          background: url('../images/ico-photo-register.png') no-repeat 50% 0;
          background-size: 28px auto;
        }
        input[type='file'] {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          -webkit-appearance: none;
          color: $primary-bg-color;
          opacity: 0;
        }
      }
      .fc-img {
        & {
          position: relative;
        }
        img {
          width: 100%;
        }
      }
      .del-img {
        position: absolute;
        right: 5px;
        top: 5px;
        background: #333;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
      }
      &.thumbnail {
        & {
          min-height: 94px;
          max-height: 94px;
        }
        .c-t {
          background-position: 50% 50%;
        }
        .fc-img {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
