.fanshop-container {
  .fanshop-buying-container {
    & {
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      border-bottom: 7px solid transparent;
      border-image: linear-gradient(to right, #f053eb, #00d4ff);
      border-image-slice: 1;
      // align-items: center;
      // text-align: center;
    }
    .fanshop-buying-slogun-container {
      & {
        margin: 0 auto;
        text-align: center;
        background: linear-gradient(to bottom, #f053eb, #00d4ff);
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        padding: 3px;
      }
      .fanshop-buying-slogun {
        background: #1e1f23;
        font-size: 14px;
        padding: 8px 12px;
        display: block;
        border-radius: 8px;
      }
    }
    .fanshop-buying-information-wrapper {
      & {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
      }
      img {
        width: 180px;
      }
      .fanshop-buying-information {
        & {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          text-align: right;
          color: #777;
          font-size: 10px;

          padding-right: 12px;
        }
        .fanshop-buying-puzzle {
          background-color: #1e1f23;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 0;
          border-radius: 4em;
        }
        .fanshop-buying-subtitle {
          margin-top: 5px;
        }
        .fanshop-buying-title {
          color: #fff;
          font-size: 18px;
          margin-top: 5px;
        }
        .fanshop-buying-date {
          margin-top: 12px;
        }
        .fanshop-buying-location {
          margin-top: 5px;
        }
        .fanshop-buying-dealer {
          margin-top: 5px;
        }
      }
    }

    .fanshop-buying-goods-container {
      & {
        display: flex;
        justify-content: space-between;
        margin: 12px 12px 0 14px;
      }
      .fanshop-buying-goods {
        & {
          display: flex;
          padding-bottom: 5px;
          width: 55%;
        }
        img {
          width: 50%;
          height: 100%;
        }
        .fanshop-buying-goods-information {
          & {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: 4px;
            color: #777;
            font-size: 11px;
          }
          .fanshop-buying-goods-subtitle {
            width: 70px;
          }

          .fanshop-buying-goods-title {
            margin-top: 12px;
            color: #fff;
            font-size: 14px;
          }
          .fanshop-buying-goods-price {
            margin-top: 10px;
          }
        }
      }
      .fanshop-goods-time-container {
        & {
          margin-top: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .fanshop-goods-time-text {
          color: #f053eb;
          font-size: 11px;
        }
        .fanshop-goods-time-wrapper {
          & {
            display: flex;

            color: #fff;
            margin-top: 14px;
            font-size: 15px;
          }
          .fanshop-goods-time {
            margin-left: 4px;
          }
        }
      }
    }
  }
  .goods-container {
    margin-top: 16px;
    .goods-header-wrapper {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 16px;
      }
      .goods-header {
        font-size: 14px;
        color: #fff;
      }
      .goods-register-button {
        border-radius: 10px;
        background-color: #00d4ff;
        padding: 3px 7px;
        color: black;
        font-weight: 700;
      }
    }
    .goods-kinds-wrapper {
      & {
        display: flex;
        justify-content: space-between;
        margin: 18px 30px 0 30px;
      }
      .goods-kinds {
        color: #999;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .goods-recent-wrapper {
      margin: 15px 0 0 16px;
      .goods-recent-header {
        font-size: 12px;
        color: #999;
      }
      .goods-recent-content-wrapper {
        & {
          margin-top: 15px;
          display: flex;
        }
        .goods-recent-content {
          &:not(:first-of-type) {
            margin-left: 10px;
          }

          .goods-recent-content-img-wrapper {
            & {
              width: 110px;
              height: 110px;
              background-color: #313235;
              border-radius: 10px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            img {
              width: 70%;
            }
            .goods-icon {
              width: 20px;
              height: 20px;
              position: absolute;
              right: 4px;
              top: 6px;
              background: url('../../Assets/images/ico-gray-heart.png') 50% 50%;
              background-size: 20px auto;
              &.goods-icon-active {
                background: url('../../Assets/images/ico-fill-heart.png') 50% 50%;
                background-size: 20px auto;
              }
            }
            .goods-time-count {
              position: absolute;
              font-size: 11px;
              bottom: 4px;
              right: 4px;
              padding: 4px 6px;
              background-color: black;
              border-radius: 8px;
              color: #999;
            }
          }
          .goods-recent-content-information {
            & {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .goods-recent-content-goods {
              margin-top: 8px;
              color: #d6d6d6;
              font-size: 13px;
            }
            .goods-recent-content-price-wrapper {
              margin-top: 8px;
              color: #777;
              font-size: 13px;
            }
          }
        }
      }
    }

    .goods-wrapper {
      & {
        margin-top: 30px;
      }
      .goods-whole-button {
        font-size: 12px;
        color: #777;
        margin-left: 16px;
      }
      .goods-content-wrapper {
        & {
          display: flex;
          justify-content: flex-start;
          margin: 12px 16px 0 16px;
        }
        .goods-content {
          &:not(:first-of-type) {
            margin-left: 14px;
          }
          .goods-content-img-wrapper {
            & {
              width: 150px;
              height: 150px;
              background-color: #313235;
              border-radius: 10px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            img {
              width: 70%;
            }
            .goods-icon {
              width: 20px;
              height: 20px;
              position: absolute;
              right: 4px;
              top: 6px;
              background: url('../../Assets/images/ico-gray-heart.png') 50% 50%;
              background-size: 20px auto;
              &.goods-icon-active {
                background: url('../../Assets/images/ico-fill-heart.png') 50% 50%;
                background-size: 20px auto;
              }
            }
            .goods-time-count {
              position: absolute;
              font-size: 11px;
              bottom: 4px;
              right: 4px;
              padding: 4px 6px;
              background-color: black;
              border-radius: 8px;
              color: #999;
            }
          }
          .goods-content-information {
            & {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .goods-content-item {
              color: #d6d6d6;
              margin-top: 12px;
            }
            .goods-content-price-wrapper {
              margin-top: 6px;
              color: #777;
              font-size: 11px;
            }
          }
        }
      }
      .goods-ad {
        & {
          margin: 25px 0;
          width: 100%;
          background-color: #777;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
