.fanclub-container {
  background: $primary-bg-color;
}
.page-header {
  & {
    padding: 20px 0 0;
    margin: 0 15px;
  }
  .btn-search {
    margin-right: -10px;
  }
}
.section-inner-wrap {
  margin: 10px 15px;
  position: relative;
}
