.fandrive-content-section {
  // margin-top: 16px;
  .fandrive-content-container {
    padding-bottom: 15px;
    &:not(:first-of-type) {
      border-top: 1px solid #313235;
      // margin-top: 20px;
      // margin-bottom: 10px;
    }
    .fandrive-content-container-subtitle {
      margin-top: 16px;
      color: #00d4ff;
      font-size: 11px;
    }
    .fandrive-content-container-title-wrapper {
      & {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
      }
      .fandrive-content-container-title {
        color: #fff;
        font-size: 14px;
      }
      .fandrive-content-container-button {
        color: #999;
      }
    }
    .fandrive-content-wrapper {
      & {
        margin-top: 15px;
        // width: 1800px;
        display: flex;
      }
      .fandrive-content {
        &:not(:first-of-type) {
          margin-left: 7px;
        }
        .fandrive-content-imo-wrapper {
          & {
            overflow: hidden;
          }
          &:not(:first-of-type) {
            margin-top: 15px;
          }
          .fandrive-content-imo-type {
            font-size: 12px;
            color: #fff;
          }
          .fandrive-content-imo {
            & {
              margin-top: 15px;
              overflow: hidden;
            }
            img {
              float: left;
              & {
                width: 60px;
                height: 60px;
              }
              &:not(:first-of-type) {
                margin-left: 15px;
              }
            }
          }
        }

        .fandrive-content-img-wrapper {
          & {
            width: 270px;
            height: 150px;
            position: relative;
          }
          & > img {
            width: 100%;
            height: 100%;
          }
          &.fandrive-content-img-wrapper-alter {
            width: 170px;
            height: 170px;
          }
          .fandrive-content-img-button {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 2px;
            background: url('../images/ico-heart.png') no-repeat 50% 50%;
            background-size: 24px auto;
            &.fandrive-content-img-button-active {
              background: url('../images/ico-fill-heart.png') no-repeat 50% 50%;
              background-size: 24px auto;
            }
          }
        }
        .fandrive-content-information {
          & {
            display: flex;
            flex-direction: column;
            padding-left: 8px;
          }
          &.fandrive-content-information-gif {
            background-color: #313235;
            padding-bottom: 15px;
            position: relative;
          }
          .fandrive-content-download {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 30px;
            top: 2px;
            background: url('../images/ico-download.png') no-repeat 50% 50%;
            background-size: 24px auto;
          }
          .fandrive-content-share {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 2px;
            top: 2px;
            background: url('../images/ico-share.png') no-repeat 50% 50%;
            background-size: 24px auto;
          }
          .fandrive-content-tag {
            margin-top: 12px;
            font-size: 10px;
            color: #f053eb;
          }
          .fandrive-content-title {
            margin-top: 6px;
            font-size: 14px;
            color: #fff;
          }
          .fandrive-content-user-information {
            & {
              display: flex;
              align-items: center;
              font-size: 10px;
              margin-top: 10px;
            }
            img {
              border-radius: 100%;
              width: 20px;
              height: 20px;
            }

            .fandrive-content-user-name {
              color: #d6d6d6;
              margin-left: 4px;
            }
            .fandrive-content-views-wrapper {
              & {
                margin-left: 12px;
                color: #999;
              }
              .fandrive-views {
                margin-left: 4px;
              }
            }
            .fandrive-content-likes-wrapper {
              color: #999;
              &:before {
                content: '';
                display: inline-flex;
                width: 2px;
                height: 2px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 26px auto;
                margin: 0 3px;
                vertical-align: middle;
                background-color: #999;
                color: #fff;
              }
              .fandrive-likes {
                margin-left: 4px;
              }
            }
            &.fandrive-content-user-information-img {
              & {
                display: flex;
                flex-direction: column;
                margin-right: auto;
                align-items: flex-start;
              }
              .fandrive-content-status-wrapper {
                margin-top: 7px;
              }
              .fandrive-content-views-wrapper {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
