.progress-loader {
  // Spinner parameters
  $color: rgba(#fff, 0.3) !default;
  $color_inner: #fff !default;
  $size: 30px !default;
  $weight: 3px !default;
  $speed: 0.5s !default;

  & {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -15px;
    z-index: 2;
    box-sizing: border-box;
    width: $size;
    height: $size;
    text-indent: -9999em;
    border: $weight solid $color;
    border-left: $weight solid $color_inner;
    border-radius: 50%;
    animation: loader $speed infinite linear;
  }

  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }
}
