@import "variables";

/* 검색 모듈 */
.fanclub-search-section {
  & {
    color: #ffff;
    margin: 0 15px;
  }
  .search-header {
    & {
      display: flex;
      color: #fff;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      margin-top: 3px;
    }
    .inp-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      background: #fff;
      border-radius: 8px;
      padding: 0 10px 0 15px;
    }
    .search-header-input {
      & {
        flex: 1;
        font-size: 16px;
        background: transparent;
        border: none;
        color: black;
      }
      &::placeholder {
        color: #dcdcdc;
      }
    }
    .btn-del {
      display: inline-flex;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      background: url("../images/ico-del.png") no-repeat 50% 50%;
      background-size: 100% auto;
      text-indent: -1000px;
      overflow: hidden;
    }
    .search-header-cancel {
      font-size: 15px;
      width: 50px;
      height: 40px;
    }
  }
  .search-result-wrapper {
    & {
      display: flex;
      color: #00d4ff;
      margin-top: 30px;
      font-size: 15px;
    }
    .search-result-name-wrapper {
      margin-right: 3px;
    }
    .search-result-count-space {
      margin-right: 3px;
    }
  }
  .search-content-wrapper {
    & {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 20px;
      border-bottom: 1px solid #444;
      padding-bottom: 20px;
    }

    .search-content {
      & {
        display: flex;
        flex-direction: column;
      }
      .search-content-title {
        font-size: 15px;
      }
      .search-content-main {
        margin-top: 11px;
        color: #dcdcdc;
        font-size: 12px;
        line-height: 1.4;
      }
      .search-content-footer {
        & {
          margin-top: 13px;
          display: flex;
          font-size: 11px;
          color: #7d7d7d;
        }
        .search-content-name,
        .search-content-date {
          &:before {
            content: "";
            display: inline-flex;
            vertical-align: middle;
            width: 2px;
            height: 2px;
            background: #7d7d7d;
            border-radius: 50%;
            margin: 0 3px;
          }
        }
      }
    }
    .search-content-image {
      position: relative;
      width: 30%;
      img {
        width: 100%;
      }
      .content-image-type {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        bottom: 5px;
        background: url("../images//search/ico-type-img.png") no-repeat 0 50%;
        background-size: 30px auto;
      }
    }
  }
}
