@import 'variables';

/* list-type1 */
.list-type1 {
  & {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 25px 0 0;
  }
  .more-item {
    color: #ffffff;
  }
  .item {
    & {
      width: 60px;
      margin-left: 10px;
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
    a {
      display: block;
      text-align: center;
    }
    .img {
      & {
        display: inline-flex;
        position: relative;
        width: 50px;
        height: 50px;
      }
      &.small-type {
        width: 40px;
        height: 40px;
      }
      .default-photo {
        display: inline-flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: url('../images/ico-user-default.png') no-repeat 50% 50%;
        background-size: 100% auto;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
      }
      .badge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -5px;
        top: -2px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background: $badge-color;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        font-style: normal;
        line-height: 1;
      }
    }
    .txt {
      display: block;
      margin: 8px 0 0;
      font-size: 12px;
      color: $txt-base-color;
      text-align: center;
      word-break: break-all;
      line-height: 1.5;
    }
    &.create {
      .img {
        background: url('../images/ico-create.png') no-repeat 50% 50%;
        background-size: 100% auto;
      }
    }
  }
  &.alter-type1 {
    & {
      justify-content: space-between;
    }
    .item {
      margin-left: 0;
    }
  }
}

/* list-type2 */
.list-type2 {
  & {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 0 0;
  }
  .item {
    & {
      margin-left: 20px;
    }
    &:nth-of-type(1) {
      margin-left: 0;
    }
    a {
      display: block;
      text-align: center;
    }
    .img {
      & {
        position: relative;
        display: inline-flex;
      }
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
      }
      .badge {
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        display: inline-flex;
        width: 27px;
        height: 18px;
        background: url('../images/ico-badge-live.png') no-repeat 50% 50%;
        background-size: 100% auto;
        text-indent: -1000px;
        overflow: hidden;
        margin-top: -20px;
      }
    }
    .tit {
      margin: 15px 0 0;
      font-size: 12px;
      color: #00d4ff;
    }
    .s-info {
      & {
        margin-top: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $txt-base-color;
        font-size: 11px;
      }
      .created-time {
        & {
          display: inline-flex;
          align-items: center;
          margin-left: 5px;
          color: $txt-base-darker-level1-color;
        }
        &:before {
          content: '';
          display: inline-flex;
          width: 1px;
          height: 10px;
          background: $txt-base-color;
          margin-right: 5px;
        }
      }
    }
  }
}

/* list-type3 */
.list-type3 {
  & {
    margin: 25px 0 0;
  }
  .item {
    & {
      margin: 10px 0 0;
    }
    &:nth-of-type(1) {
      margin-top: 0;
    }
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #333;
      border-radius: 10px;
      padding: 10px 0;
    }
    .img {
      & {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img-inner {
        position: relative;
        width: 50px;
        height: 50px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .badge {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -5px;
        top: -2px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background: $badge-color;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        font-style: normal;
        line-height: 1;
      }
    }
    .desc-area {
      & {
        flex: 1;
        padding: 0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
      }
      .da-tit {
        color: #00d4ff;
        font-size: 14px;
      }
      .desc-txt {
        margin: 5px 0 0;
        line-height: 1.4;
        color: $txt-base-color;
        font-size: 15px;
      }
      .da-info {
        & {
          display: flex;
          justify-content: flex;
          align-items: center;
          margin: 5px 0 0;
          font-size: 11px;
          color: $txt-base-darker-level2-color;
        }
        span {
          & {
            display: flex;
            justify-content: flex;
            align-items: center;
            padding-left: 6px;
          }
          &:before {
            content: '';
            display: inline-flex;
            width: 1px;
            height: 10px;
            background: $txt-base-darker-level2-color;
            margin-right: 5px;
          }
          &:nth-of-type(1) {
            & {
              padding-left: 0;
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

/* list-type4 */
.list-type4 {
  & {
    margin: 25px 0 0;
  }
  .item {
    & {
      margin-top: 15px;
    }
    &:nth-of-type(1) {
      margin-top: 0;
    }
    a {
      display: block;
      border-radius: 10px;
      overflow: hidden;
    }
    .card-wrap {
      position: relative;
    }
    .img-side {
      & {
        position: relative;
        width: 163px;
        height: 100px;
        overflow: hidden;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
      }
    }
    .info-side {
      & {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 90px;
        border-bottom: 100px solid #333;
        border-left: 70px solid transparent;
        padding: 0 10px 0 0;
        text-align: right;
      }
      @media all and (max-width: 350px) {
        & {
          left: 70px;
        }
      }
      .inner-wrap {
        position: absolute;
        left: -70px;
        right: 10px;
        height: 100px;
        top: 0;
      }
      .a-name {
        font-size: 17px;
        color: #00d4ff;
        margin: 15px 0 0;
      }
      .fc-name {
        font-size: 17px;
        color: $txt-base-color;
        margin: 10px 0 0;
      }
      .info {
        & {
          margin: 15px 0 0;
          color: $txt-base-darker-level2-color;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        span {
          & {
            display: flex;
            align-items: center;
            margin-left: 5px;
          }
          &:before {
            content: '';
            display: inline-flex;
            width: 1px;
            height: 10px;
            background: $txt-base-darker-level2-color;
            margin-right: 5px;
          }
          &:nth-of-type(1) {
            & {
              padding-left: 0;
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.list-type5 {
  .item {
    & {
      margin-top: 15px;
      color: #ffffff;
    }
    &:nth-of-type {
      margin-top: 0;
    }
    a {
      & {
        display: flex;
        align-items: center;
      }
      .img {
        & {
          position: relative;
          width: 40px;
          height: 40px;
        }
        .default-photo {
          display: inline-flex;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
          background: url('../images/ico-user-default.png') no-repeat 50% 50%;
          background-size: 100% auto;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .badge {
          & {
            position: absolute;
            border-radius: 100%;
            border: 2px solid black;
          }
          &.status {
            right: -1px;
            bottom: 0;
            width: 10px;
            height: 10px;
            background: #f053eb;
          }
          &.check {
            width: 8px;
            height: 8px;
            left: -3px;
            top: -1px;
            background: #01d0fa;
          }
        }
      }
      .infos {
        & {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
        }
        .user-name-wrapper {
          & {
            display: flex;
            align-items: center;
          }
          .user-name-ico {
            width: 20px;
            height: 20px;
            margin-left: 4px;
            background-size: 20px auto;
            background-repeat: no-repeat;
            &.marked {
              background-image: url('../images/ico-mark.png');
            }
          }
          &.user-admin {
            color: #f053eb;
            font-weight: 700;
          }
          .u-admin {
            margin-left: 5px;
          }
        }
        .user-msg {
          margin-top: 10px;
          font-size: 11px;
        }
      }
    }
  }
}
