/* bg-color */
$primary-bg-color: #212227;

/* font-size */
$page-tit-font-size: 24px;
$section-tit-font-size: 17px;
$section-see-all-font-size: 13px;

/* font-color */
$txt-base-color: #ddd;
$txt-base-darker-color: #bbb;
$txt-base-darker-level1-color: #aaa;
$txt-base-darker-level2-color: #888;
$txt-base-darker-level3-color: #666;

/* color */
$badge-color: #fa3522;
$primary-color: #00d4ff;

/* button */
$button-bg-color1: #254ce8;
$button-bg-color2: #333;
$button-bg-color3: yellow;

/* border-radius */
$border-radius-small: 8px;
